body, 
.paragraph, 
.link, .link:link, .link:visited {
    color: $color-body;
    font-family: $font-family-body;
    font-size: 1.6rem;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
}

.paragraph {
    &:not(:last-child) {
        margin-bottom: 2rem;
    }
}

.link {
    transition: all .3s;

    &:hover,
    &:focus {
        outline: none;
        text-decoration: underline;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-heading;
    color: colors(primary);
}


.headline {
    font-family: $font-family-heading;
    font-weight: 600;

    &--primary {
        color: colors(primary);
        font-size: 4rem;
        border-bottom: 1px solid colors(primary);
        padding: .5rem 2rem;
        margin-bottom: 2rem;
    }
}