// Color ------------------------------------------
//$color-primary: #E92569;
$color-primary: #076ca7;
//$color-secondary: #767676;
$color-secondary: #e78b00;

$color-nav: #0A0A0A;
$color-background: #E5E5E5;



$color-grey-light-1: #D1D1D1;


$color-white: #FFFFFF;
$color-black: #000000;

$color-lighten: 5;
$color-darken: 25;





// Font --------------------------------------------
$font-family-body: 'Lato', sans-serif;
$font-family-heading: 'Playfair Display', serif;

$font-weight-normal: 400;
$font-weight-bold: 700;

$font-style-normal: normal;
$font-style-italic: italic;