// Color ------------------------------------------
$color-primary: #076ca7;
$color-secondary: #e78b00;

$color-body: #0A0A0A;
$color-nav: #0A0A0A;


$color-background: #eee;
$color-nav-background: rgb(255, 255, 255);
$color-form-background: #a7a7a7;

$color-grey-light-1: #D1D1D1;
$color-grey-light-2: #b1b1b1;


$color-white: #FFFFFF;
$color-black: #000000;

$color-error: #f10000;

$color-lighten: 5;
$color-darken: 25;


//$color-primary: #E92569;
//$color-secondary: #767676;

// Font --------------------------------------------
$font-family-body: 'Lato', sans-serif;
$font-family-heading: 'Playfair Display', serif;

$font-weight-normal: 400;
$font-weight-bold: 700;

$font-style-normal: normal;
$font-style-italic: italic;