.form {
    //background-color: $color-form-background;
    padding: 20px;

    // Group ------------------------------------
    &__group {
        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    &__group--error {
        color: $color-error;
        font-weight: 500;
    }



    // Label ------------------------------------
    &__label{
        font-weight: 700;
    } 



    // Icon -------------------------------------
    &__icon {
        font-size: 1.2rem;
        background-color: colors(primary);
        color: $color-white;
    }



    // Input ------------------------------------
    &__input {
        @include formElements;

        &--grey {
            background-color: $color-background;
            height: 3.6rem
        }
    }



    // Textarea ---------------------------------
    &__textarea {
        @include formElements;
    }



    // Checkbox ---------------------------------
    &__checkbox .form-check  #formBasicCheckbox:checked{
        background-color: colors(primary);
    }
    


    // Submit Button ---------------------------
    &__button {
        margin-top: 2rem;
    }
}