.footer {
    border: 0;
    background: $color-white;
    text-align: center;
    margin-top: 3rem;

    &__email{
        &:hover{
            color: colors(primary);
            cursor: pointer;
        }
    }

    & .col {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.fa-vimeo-v,
.fa-youtube{
    font-size: 3rem;
    color: colors(secondary);

    &:first-child{
        padding-right: 2rem;
    }

    &:hover{
        color: colors(primary);
        cursor: pointer;
    }
}