// Color Variables:
$primary: #E92569;
$secondary: #767676;
$nav: #0A0A0A;
$background: #E5E5E5;
$white: #FFFFFF;
$black: #000000;
$lighten: 5;
$darken: 25;

// Color Map:
$colors: (
    primary: (
        base: $primary,
        light: lighten($primary, $lighten),
        dark: darken($primary, $darken),
    ),
    secondary: (
        base: $secondary,
        light: lighten($secondary, $lighten),
        dark: darken($secondary, $darken),
    ),
    nav: (
        base: $nav,
        background: #EFEFEF,
        light: lighten($nav, $lighten),
        dark: darken($nav, $darken),
    ),
    background: (
        base: $background,
        light: lighten($background, $lighten),
        dark: darken($background, $darken),
    ),
);

// Color Function:
@function colors($base, $shade: base) {
    $color: map-get(
        map-get($colors, $base), 
        $shade
    );

    @return $color;
}

// Font Variables:
$font-primary: 'Lato', sans-serif;
$font-secondary: 'Playfair Display', serif;
$regular: 400;
$bold: 700;
$italic: italic;
$basic: normal;

// Font Map:
$fonts: (
    primary: (
        base: $font-primary,
        regular: $regular,
        bold: $bold,
        italic: $italic,
        basic: $basic, 
    ),
    heading: (
        base: $font-secondary,
        regular: $regular,
        bold: $bold,
        italic: $italic, 
        basic: $basic, 
    ),
    logo: (
        base: $font-secondary,
        regular: $regular,
        bold: $bold,
        italic: $italic, 
        basic: $basic, 
    )
);

@function fonts($base, $weight, $style: base) {
    $font: map-get(
        map-get($fonts, $base), 
        $weight,
    );

    @return $font;
}